# Prerequisites
*.d
*.obj
*.o
*.inc
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.exp
*.pdb
*.ilk

# CMake
CMakeCache.txt
CMakeUserPresets.json
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
*.cmake
!/cmake/*.cmake

# Qt
.qmake.stash
*.qrc
*.ui
moc_*.cpp
qrc_*.cpp
ui_*.h
*.moc

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters

# Build directories
build/
out/
bin/
